.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.legend {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
}

body {
    height: 100vh;
    width: 100vw;
    background: lightslategrey;
}

.axis text {
    font-size: 20px;
    fill: black;
    font-family: 'Anton', sans-serif;
}

.green {
    fill: green;
}

.red {
    fill: maroon;
}

.legend-dot:hover {
    r: 6;
    cursor: pointer;
}

.dot:hover {
    r: 6;
    cursor: pointer;
}

.info {
    position: absolute;
    text-align: center;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    height: auto;
    width: auto;
    background-color: lightblue;
    color: green;
    text-decoration-style: bold;
    font-size: 1em;
}